@import "../../utils/utils.styles.scss";

.slide-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 200px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  @media screen and (min-width: 769px) {
    display: none;
  }

  &.open {
    transform: translateX(0);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  a {
    color: $dark-blue;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover,
    &:active {
      color: darken(darkcyan, 10);
    }
  }
  li {
    margin: 0.5rem 0;
  }
}
