.toggle-button {
  height: 24px;
  width: 30px;
  background: transparent;
  justify-content: space-around;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  .toggle-button_line {
    width: 30px;
    height: 2px;
    background: black;
  }
}
