@import "../../utils/utils.styles.scss";

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 428px;
  width: 100%;

  .intro-section-content {
    display: flex;
    width: 70%;
    height: 220px;
    justify-content: center;
    align-items: center;

    .intro-section-content-container {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 120px;

      h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        margin: 0;
        color: $dark-blue;
      }

      p {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 24px;
        color: $light-grey;
      }
    }
  }
}
